
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}
html{
    font-size: 62.5%;
    
}
.body{
 width : 100vw;

}
.rowCenter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.colCenter{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center; 
    
}
.wrapper{
    background-color: #e5e5e5;
    height:100vh;
    width: 100%;
}
h5,h2{
    font-family:  'Montserrat', sans-serif;

}
p{
    font-family: 'Open Sans', sans-serif;

}
.card{
    background-color: #54359D;
    
}
.card h5, .card h2, .card p{
    color: #ffffff;
}
.card h2{
    font-size: 36px;
}
.card h5{
    font-size: 22px;
    margin: 22px;
}
.card p {
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
i{
    color: #ffffff;
}
.wrapperText{
    justify-content: left;
}
.card a{
    color: #F1C50E;

}
.card .container{
    height: 150px;
}
.text{
    color: #C9B8F0;
}
.icone{
    margin-left: 10px;
}
.section{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.section h2{
    color: #111111;
    font-size: 24px;
}
.section p{
    font-size: 18px;
    color: #111111;
}
.section a{
    color: #54359D;
}
label{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #111111;
}
input,textarea{
background-color: #F2F2F2;
padding: 10px 12px;
margin-right: 10px;
}
button{
    background-color: #F1C50E;
    color: #54359D;
   padding: 14px 0 15px; 
   width: 38.5vw;
    
}
.section, .card{
    height:70vh;
    width: 40vw;
    padding-left: 12px;
}
.form-Group{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.error{
    margin-top: 5px ;
    color: red;
}
.invisible{
    display: none;
}